{% extends "base.html" %}

{% block content %}
<h1 class="page-title ">
    < About >
</h1>
<hr />
<br />
<p class="about_p">Just before the start of the pandemic Dr. Durry found his backyard to be lacking in grass and most other plant life besides weeds, so he headed to a small nursery to try and liven the yard up a little. As soon as lock downs hit there was a lot more time to focus on tending to what plants he had as well as multipy the garden. Now its a beautiful little botanical wonderland in the middle of suburban Atlanta. This app will show what plants he has as well as when to take care of them and watch for flowers.</p>
<br />
<hr />
<p>Reach out for an enthusiastic amatuer's plant advice!</p>
{% endblock %}