{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emperor's Garden</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body>
    <header class="navbar-fixed ">
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'index' %}">View All Plants</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'plants_create' %}">Add a Plant</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
            <li class="divider" tabindex="-1"></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
        </ul>
        <nav>
            <div class="nav-wrapper green darken-3">
                <ul>
                    <li>
                        <a href="/" class="left brand-logo">&nbsp;&nbsp;Emperor's Garden</a>
                    </li>
                </ul>
                <ul class="right hide-on-small-only">
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'index' %}">View All Plants</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'plants_create' %}">Add a Plant</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
                <ul class="right hide-on-med-and-up">
                    <li>
                        <a class="dropdown-trigger" href="#" data-target="dropdown1">
                            <i class="material-icons">more_vert</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer green darken-3">
        <div class="right">
            Emperor's Garden, &copy; 2022 Dr. Elias Durry approved &nbsp;
        </div>
    </footer>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems, (hover=false));
    });
</script>

</html>