@font-face {
    font-family: leaves;
    src: url(../fonts/leaves_and_ground.ttf);
}


*{
    box-sizing: border-box;
    margin: 0
}

body {
    background-color: #d7ccc8 ;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    padding-top: 0;
    text-align: right;
}
.about_p {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.home {
    border-radius: 2%;
}

.page-title {
    text-align: center;
    font-family: leaves;
}

.season-head {
    font-family: leaves;
    text-align: center;
}