{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s12">
        <h1>Summer Season</h1>
    </div>
    <div class="col s6">
        <h4>Look out for these in bloom!</h4>
        <table >
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Scientific Name</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for plant in bloom %}
                <tr>
                    <a href="{% url 'detail' plant.id %}">
                        <td>{{ plant.name }}</td>
                    </a>
                        <td>{{ plant.scientific_name }}</td>
                        <td>{{ plant.type }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col s6">
        <h4>Be sure to trim these!</h4>
        <table class="highlight">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Scientific Name</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for plant in trim %}
                <a href="{% url 'detail' plant.id %}">
                    <tr>
                        <td>{{ plant.name }}</td>
                        <td>{{ plant.scientific_name }}</td>
                        <td>{{ plant.type }}</td>
                    </tr>
                </a>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}